<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/movie/{{movie.id}}/update' method='POST'>
        {% csrf_token %}
        <label for="title">Title</label>
        <input value ="{{ movie.title }}" type="text" name="title" id="">
        <label for="year">Year</label>
        <input value ="{{ movie.year }}" type="number" name="year" id="">

        <input type='submit' value='Update'>
    </form>
    
    
    
    <a href="/movie/{{movie.id}}"><button>Back</button></a>
</body>
</html>