
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ movie.title }}({{ movie.year }})</h1>
    <h3>Cast of {{ movie.title }}:</h3>
    <ul>
        {% for actor in movie.actors.all %}
            <li>{{actor.name}}</li>
        {% endfor %}
        
    </ul>
    <h3>Add an actor</h3>

    <form action='/' method='POST'>
        {% csrf_token %}
        <select name="actor_name" id="">
        {% for actor in other_actors %}
        <option value="{{actor.id}}">{{actor.name}}</option>        
        {% endfor %}
        </select>
        <input type='submit' value='Submit'>
    </form>
    <a href="/movie/{{movie.id}}/edit"><button>Edit</button></a>
    <a href="/"><button>Back</button></a>
</body>
</html>


